<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Most Liked Secrets</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'validation/css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'validation/css/normalize.css' %}">
    </head>
    <body>
        <h3>Most Liked Dojo Secrets:</h3>
        {% for secret in most_liked %}
            <h4>{{ secret.secret }} {{ secret.num_likes }} Likes {{ secret.created_at }}</h4>
        {% endfor %}
    </body>
</html>
