<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login successful!</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'validation/css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'validation/css/normalize.css' %}">
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <h6>{{ message }}</h6>
            {% endfor %}
        {% endif %}
        <h1>Welcome {{ current_user.0.fname }}!</h1>
            <form class="secret_post" action="/post_secret" method="post">
                {% csrf_token %}
                <textarea name="secret_post" rows="8" cols="80"></textarea>
                <div class="row">
                    <input type="submit" class="button-primary" name="post_secret" value="Post">
                    <a href="/most_liked">Most Popular Secrets</a>
                </div>
            </form>
        {% for secret in secrets %}
            <div class="row">
                <div class="seven columns">
                    <h4>{{ secret.secret }}</h4>
                </div>
                <div class="two columns">
                    <h6>{{ secret.created_at }}</h6>
                </div>
                <div class="three columns">
                    {% if secret.user.id != request.session.user_id %}
                        <p>{{ secret.num_likes }} like{% if secret.num_likes > 1 %}s{% endif %}</p>
                        <form action="/like/{{ secret.id }}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="button-primary" name="like" value="like">
                        </form>
                    {% else %}
                        <form action="/del_like/{{ secret.id }}" method="post">
                            {% csrf_token %}
                            <input type="submit" name="delete" value="Delete">
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <form class="logout" action="/logout" method="post">
            {% csrf_token %}
            <input type="submit" name="logout" value="Logout">
        </form>
    </body>
</html>
